name: Deploy Sphinx documentation to Pages

on:
  push:
    branches: [main] # branch to trigger deployment

jobs:
  pages:
    runs-on: ubuntu-20.04
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      contents: read
      id-token: write
    steps:
    - uses: actions/checkout@v3
    - id: deployment
      uses: sphinx-notes/pages@v3
      with:
        checkout: false
